<p id="notice"><%= notice %></p>
<% if @inventories.any? %>
  <div class="row">
    <div class="col">
      <h2>Inventory</h2>
    </div>
    <div class="col-auto">
      <%= link_to 'Export', inventories_path(format: :csv), class: "btn btn-secondary" %>
    </div>
    <div class="col-auto">
      <%= link_to 'View products', items_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product</th>
              <th scope="col">SKU</th>
              <th scope="col">Quantity</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @inventories.each_with_index do |inventory, i| %>
              <% if inventory.track_quantity %>
                <tr>
                  <th scope="row"><%= i %></th>
                  <td><%= inventory.item.title %></td>
                  <td><%= inventory.sku %></td>
                  <td><%= inventory.quantity %></td>
                  <td>
                    <%= link_to 'Edit', edit_item_path(inventory.item), class: "btn btn-info btn-sm" %>
                    <%= link_to 'Delete', inventory, class: "btn btn-danger btn-sm", method: :delete, remote: true, data: {confirm: "Are you sure you want to permanently delete this product?\nThis action is irreversible."} %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <h2>Inventory</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Your inventory is empty. Go ahead and add some products or enable tracking for your existing products.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to 'Add Product', new_item_path, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
